<div class="reply-card" id="comment_<%= reply.id %>">
  <% if user_signed_in? %>
    <%= render partial: "votes/buttons", locals: { comment: reply } %>
  <% else %>
    <div class="vote-buttons vote-buttons-small">
      <span class="vote-count"><%= reply.vote_balance %></span>
    </div>
  <% end %>
  <div class="reply-content">
    <div class="reply-header">
      <%= link_to user_path(reply.user), class: "reply-avatar-link" do %>
        <div class="reply-avatar">
          <% if reply.user.avatar.attached? %>
            <%= cl_image_tag reply.user.avatar.key, width: 24, height: 24, crop: :fill, class: "reply-avatar-img" %>
          <% else %>
            <span class="reply-avatar-placeholder"><%= reply.user.username.first.upcase %></span>
          <% end %>
        </div>
      <% end %>
      <%= link_to reply.user.username, user_path(reply.user), class: "reply-author" %>
      <% if reply.user_is_local? %>
        <span class="local-badge local-badge-small"><i class="fa-solid fa-location-dot"></i> Local</span>
      <% end %>
      <span class="reply-date"><%= time_ago_in_words(reply.created_at) %> ago</span>
    </div>
    <div class="reply-body">
      <p><%= reply.description %></p>
    </div>
    <% if user_signed_in? %>
      <div class="reply-actions">
        <button class="reply-btn"
                data-controller="reply-toggle"
                data-action="click->reply-toggle#showForm"
                data-reply-toggle-comment-id-value="<%= parent_comment.id %>"
                data-reply-toggle-mention-value="<%= reply.user.username %>">
          <i class="fa-solid fa-reply"></i> Reply
        </button>
        <% if reply.user == current_user || current_user&.admin? %>
          <%= button_to comment_path(reply), method: :delete, class: "reply-delete-btn", data: { turbo_confirm: "Delete this reply?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
        <% if current_user&.admin? && reply.user != current_user && !reply.user.admin? && !reply.user.banned? %>
          <%= button_to ban_admin_user_path(reply.user), method: :post, class: "reply-ban-btn", title: "Ban user", data: { turbo_confirm: "Ban user #{reply.user.username}?" } do %>
            <i class="fa-solid fa-ban"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
