<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-logo" do %>
      <p>TrueTrek</p>
    <% end %>

    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
         <li class="nav-item active">
            <%= link_to "HOME", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "MAP", pages_home_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "TRAVEL BOOK", my_travel_book_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "ADD NEW PLACE", new_comment_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "PROFILE", user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
        <% else %>
          <li class="nav-item">
            <%= link_to "", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
